<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/member.css" rel="stylesheet"/>
    <script>
      function signup_btn()
      {
        alert('회원가입이 완료되었습니다.');
      }
    </script>
</head>
<body>
<div class="wrap">
    <div class="login" style="height: 700px;">
        <h2 style="color: #288CFF;">회원가입</h2>
        <form action="/memberSignupSave" method="POST">
            <div class="login_id">
                <h4>ID</h4>
                <input type="text" name="memberId" placeholder="아이디 입력">
            </div>
            <div class="login_pw">
                <h4>Password</h4>
                <input type="password" name="memberPassword" placeholder="비밀번호 입력">
            </div>
            <div class="login_id">
                <h4>Name</h4>
                <input type="text" name="memberName" placeholder="이름 입력">
            </div>
            <div class="login_id">
                <h4>Age</h4>
                <input type="text" name="memberAge" placeholder="나이 입력">
            </div>
            <div class="login_id">
                <h4>HP</h4>
                <input type="text" name="memberHp" placeholder="전화번호 입력">
            </div>
            <br>
            <div class="submit">
                <button id="signup-btn" type="submit" onclick="javascript:signup_btn()">회원가입 완료</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>